<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>

    <div id="vis"></div>

    <script type="text/javascript">
        var spec = '{{ chart|safe }}';
        var new_spec = JSON.parse(spec);
        console.log(new_spec);
        var opt = {"renderer": "canvas", "actions": false};
        vegaEmbed("#vis", new_spec, opt);
    </script>

</body>
</html>