{% extends '../index.html' %}


{% block javascript %}

<script>
    $("#Iteration").change(function () {
        var iteration_index = $(this).val();
        console.log(iteration_index);

        $.ajax({
            url: "{% url 'iteration_chart' %}",
            data: {
                'iteration_index': iteration_index
            },
            dataType: 'json',
            success: function (data){
                if (data.chart){
                    var spec = data.chart;
                    var opt = {"renderer": "canvas", "actions": false};
                    var new_spec = JSON.parse(spec);
                    vegaEmbed("#iteration_chart", new_spec, opt);
                }
            }
        });
    });

    $("#TrustID").change(function () {
        var trust_id = $(this).val();

        $.ajax({
            url: "{% url 'trust_chart' %}",
            data: {
                'trust_id': trust_id
            },
            dataType: 'json',
            success: function (data){
                if (data.trust_id){
                    var spec = data.trust_chart;
                    var opt = {"renderer": "canvas", "actions": false};
                    var new_spec = JSON.parse(spec);
                    vegaEmbed("#TrustID_chart", new_spec, opt);
                }
            }
        });

    });

</script>

{% endblock %}


{% block content %}

    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Iterations : 
              </a>
            </li>
            <li class="nav-item">
              <div class="nav-link">
                <select name="iteration_index" id="Iteration" class="form-select form-select-sm form-select-padding-y:left" aria-label=".form-select-sm Select Iterations">
                  {% if iteration_list %}

                    {% for iter in iteration_list %}
                        <option value={{iter}}>{{iter}}</option>
                    {% endfor %}

                  {% endif %}
                </select>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                TrustID : 
              </a>
            </li>
            <li class="nav-item">
              <div class="nav-link">
                <select name="trust" id="TrustID" class="form-select form-select-sm form-select-padding-y:left" aria-label=".form-select-sm Select Trust">
                    {% if trust_iteration_list %}

                    {% for trust in trust_iteration_list %}
                        <option value={{trust}}>{{trust}}</option>
                    {% endfor %}

                  {% endif %}
                </select>
              </div>
            </li>
            <!-- <li class="nav-item">
              <div class="nav-link">
                <button type="button" class="btn btn-primary btn-sm">Submit</button>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Workflows Iteration Chart</h1>
        </div>
  
        <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
        <div id="iteration_chart" class="my-4 w-100" width="900px" height="380px">
          chart comes here
        </div>
  
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2>Trust Chart</h2>
        </div>
        
  
        <div id="TrustID_chart" class="my-4 w-100" width="900px" height="380px">
          Trust chart comes here
        </div>
        
      </main>
    </div>

    
  {% endblock %}

